# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
.ipynb_checkpoints/

# Data (keep heavy or private data out of Git)
data/
reports/figures/
reports/tables/

# Jupyter artifacts
*.egg-info/
pip-wheel-metadata/
