# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*
.ipynb_checkpoints/

# Data (keep heavy or private data out of Git)
data/
data.zip
archive/
reports/figures/
reports/tables/
articles/

# Jupyter artifacts
*.egg-info/
pip-wheel-metadata/
exports/
notebooks/notebooks_text/
